server:
  port: 8080

spring:
  application:
    name: gateway-service

  data:
    redis:
      host: localhost
      port: 6379

  cloud:
    gateway:
      filter:
        request-rate-limiter:
          deny-empty-key: true
          empty-key-status: 401

      routes:
        - id: demo-route
          uri: http://localhost:8081
          predicates:
            - Path=/api/**
          filters:
            - StripPrefix=1
            - name: CircuitBreaker
              args:
                name: demoCB
                fallbackUri: forward:/fallback/demo
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10
                key-resolver: "#{@apiKeyResolver}"

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  security:
    api-key-header: X-API-Key
    valid-api-keys:
      - dev-key-123
      - dev-key-456
      
resilience4j:
  circuitbreaker:
    instances:
      demoCB:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 2
  timelimiter:
    instances:
      demoCB:
        timeoutDuration: 2s
